.title-head {
  color: crimson;
  text-align: center;
  margin-top: 20px;
}

ul {
  color: plum;
}

.container-dad {
  display: flex;
  text-align: center;
}

.cont1 {
  margin-top: 20px;
}
.cont2 {
  margin-right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
