.people-section-container {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 50px;
}

.team-title {
  font-family: 'Oswald', sans-serif;
  color: antiquewhite;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

.people-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.person-item {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.1s ease, background-color 0.1s ease;
  border: 2px solid transparent;
}

/* .person-item:hover {
      background-color: white;
  } */

.person-item:hover {
  transform: scale(1.05);
  border: 1px solid wheat;
  cursor: pointer;
}

.person-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.person-details {
  text-align: center;
}

.person-name {
  color: white;
  margin-bottom: 5px;
}

.person-contribution {
  color: wheat;
  margin-bottom: 15px;
}

.person-name:hover {
  color: wheat;
  cursor: pointer;
}

.person-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.person-links a {
  width: calc(33.33% - 20px);
  margin: 5px;
  padding: px;
  font-size: 30px;
  color: wheat;
  transition: coloor 0.3s ease;
}

.find-more-button-container {
  text-align: center;
  margin: 5px 0;
}

.find-more-button {
  font-size: 18px;
}

.find-more-text {
  color: white;
  margin-top: 5px;
  font-weight: bold;
  padding: 20px;
}

.find-more-later-text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  align-content: center;
  padding: 10px;
  margin: 5px auto;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #fff;
}

.btn-primary:focus {
  box-shadow: none;
}

.person-links a:hover {
  &.instagram-icon:hover {
    background: #d6249f;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.facebook-icon:hover {
    color: #1877f2;
  }
  &.spotify-icon:hover {
    color: green;
  }
}

@media only screen and (max-width: 768px) {
  .people-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .person-item {
    width: calc(50% - 20px);
  }

  .person-links {
    justify-content: center;
  }

  .person-links a {
    width: calc(33.3% - 10px);
  }
}
