@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


.header_style {
    font-size: large;
    font-weight: 600;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
}