.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar-logo {
  font-size: 24px;
  padding-top: 10px;
  padding-right: 25px;
  font-weight: bold;
  color: #f3f4f5;
  text-decoration: none;
  z-index: 3;
}

.navbar-logo:hover {
  color: #f44336;
  transition: color 0.2s ease-in-out;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 5px;
  padding: 0;
}

.nav-item {
  margin-left: 40px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #f3f4f5;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 10px;
}

.nav-link:hover {
  color: #f44336;
  border: 1px solid #f3f4f5;
  border-radius: 10px;
  transition: border 0.3s ease-in-out;
}

.search-icon {
  position: relative;
  font-size: 24px;
  color: #f3f4f5;
  cursor: pointer;
  right: 15px;
}

.search-icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  color: #f44336; /* changed icon color to red on hover */
}

.burger {
  display: none;
  font-size: 24px;
  color: #f3f4f6;
  cursor: pointer;
  z-index: 10;
}

.search-box {
  display: none;
  position: relative;
  top: 5px;
  right: -20%;
  width: 100%;
  max-width: 200px;
  background-color: #f3f4f5;
  border: 3px solid #f3f4f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box.active {
  display: block;
}

.search-box input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #f3f4f5;
  outline: 2px;
  padding: 10px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    height: 100px;
    padding-top: 10px;
  }

  .nav-menu {
    position: fixed;
    top: -5px;
    left: -15px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(18, 21, 22, 0.95);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .nav-link {
    font-size: 30px;
  }

  .navbar-logo {
    font-size: 24px;
    padding-top: 0;
    padding-right: 25px;
    padding-left: 20px;
    font-weight: bold;
    color: #f3f4f5;
    text-decoration: none;
    z-index: 3;
  }

  .burger {
    display: block;
    position: absolute;
    right: 15px; /* changed right property */
    top: 25px; /* added top property */
  }

  .search-icon {
    position: absolute;
    display: flex;
    right: 80px;
    top: 25px;
  }

  .search-box {
    display: none;
    position: relative;
    top: 0;
    max-width: 200px;
    max-height: 100px;
  }

  .search-box.active {
    position: relative;
    height: 40px;
    left: 25%;
    top: 0;
    display: block;
  }
}
