/* Brand Logo */


/* Timeline container */
.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0 80px 0; /* added margin-bottom */
}

/* Timeline line */
.timeline-container::after {
  /* changed the background color to a gradient of red shades */
  background: linear-gradient(to bottom, #f44336, #e91e63, #9c27b0);
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

/* Timeline item wrapper */
.timeline-item-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

/* Timeline item wrapper for odd items */
.timeline-item-wrapper:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
  margin-left: 50px; /* added to shift left cards to center */
}

/* Timeline item content */
.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 8px;
  padding: 15px;
  margin-top: 20px;
  position: relative;
  width: 500px;
  height: 300px;
  max-width: 100%;
  text-align: right;
}

/* Timeline item content arrow */
.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

/* .timeline-item-content:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
} */

/* Timeline item content for odd items */
.timeline-item-wrapper:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

/* Timeline item content arrow for odd items */
.timeline-item-wrapper:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Timeline item tag */
.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

/* Timeline item tag for odd items */
.timeline-item-wrapper:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content .tag {
  border-radius: 10px;
  padding: 10px 6px;
  margin: 2px 5px;
}

/* Timeline item time */
.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

/* Timeline item text */
.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

/* Timeline item icons */
.timeline-item-content .icons {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

/* Timeline item icons style */
.timeline-item-content .icons a {
  color: #333;
  font-size: 24px;
}

/* Timeline item icons hover style */
.timeline-item-content .icons a:hover {
  color: #14cff0;
}

/* Timeline item circle */
.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

/* Timeline item circle hover style */
.timeline-item-content .circle:hover {
  /* changed the border color and the background color on hover */
  border-color: #14cff0;
  background-color: #e17b77;
  transition: all 0.3s ease-in-out;
}

/* Timeline item circle for odd items */
.timeline-item-wrapper:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

/* Media query for screens less than or equal to 768px */
@media (max-width: 768px) {
  /* Change the flex direction of the timeline container to row */
  .timeline-container {
    flex-direction: row;
  }

  /* Change the position and width of the timeline line */
  .timeline-container::after {
    top: calc(50% - 2px);
    left: 0;
    width: 100%;
    height: 4px;
  }

  /* Change the flex direction and width of the timeline item wrapper */
  .timeline-item-wrapper {
    flex-direction: column;
    width: 100%;
  }

  /* Change the order and alignment of the timeline item content */
  .timeline-item-content {
    order: 1; /* place the content after the circle */
    align-self: flex-end; /* align the content to the right */
  }

  /* Change the order and alignment of the timeline item content for odd items */
  .timeline-item-wrapper:nth-child(odd) .timeline-item-content {
    order: 1; /* place the content after the circle */
    align-self: flex-end; /* align the content to the right */
  }

  /* Change the position and order of the timeline item circle */
  .timeline-item-content .circle {
    top: 0;
    right: 0;
    order: 0; /* place the circle before the content */
  }

  /* Change the position and order of the timeline item circle for odd items */
  .timeline-item-wrapper:nth-child(odd) .timeline-item-content .circle {
    top: 0;
    right: 0;
    order: 0; /* place the circle before the content */
  }
}
