* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient_bg {
  background: linear-gradient(
    180deg,
    rgb(58, 58, 45) 0%,
    rgb(29, 35, 36) 50%,
    rgba(0, 0, 0, 0.71) 100%
  );
}
